# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv

# Environment variables
.env
.env.local
.env.production
infra/yc/backend.hcl
infra/yc/terraform.tfvars
infra/state_backend/terraform.tfvars
infra/state_backend/terraform.tfstate
infra/state_backend/terraform.tfstate.backup

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Database
*.db
*.sqlite3

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Poetry
poetry.lock

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
